body {
    background: linear-gradient(to bottom right, #D7CCDB, #3E5220 );
}


.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 16px;
    font-size: 24px;
    color: #6B5370;
    font-weight: 700;
}

.messagesArea {
    flex: 1;
    overflow-y: 90%;
    padding: 16px;
}

.myMessage {
    text-align: right;
    background-color: rgba(106, 43, 176, 0.5);
    color: #E6CBD6;
    padding: 8px 12px;
    border-radius: 18px;
    margin: 8px;
    font-size: 18px;
}

.otherMessage {
    text-align: left;
    background-color: #9077A0;
    color: #D7CCDB;
    padding: 8px 12px;
    border-radius: 18px;
    margin: 8px;
    font-size: 18px;
}

.inputArea {
    display: flex;
    padding: 12px;
    gap: 8px;
    border-top: 1px solid #ccc;
}

.textInput::placeholder {
    color: #6B5370;
    opacity: 0.8;
}

.textInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9077A0;
    transform: scale(1.01);
}

.textInput {
    flex: 1;
    padding: 10px;
    border-radius: 24px;
    border: none;
    background-color: #E6CBD6;
    color: #3E5220;
    transition: all 0.3s ease;
}

.sendBtn {
    background-color: #6B5370;
    color: #E6CBD6;
    border: none;
    border-radius: 24px;
    padding: 0 20px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;
    animation: fadeIn 0.5s ease;
}

.sendBtn:hover {
    background-color: #7045a1;
    color: #E6CBD6;
    transform: scale(1.03);
}