* {
    padding: 0;
    margin: 0;
    
}

.dashboard {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: flex-start;
}

.sidebar {
    width: 300px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.chatList {
    flex: 1;
    overflow-y: auto;
}

.chatList div {
    padding: 10px;
    background: #9077A0;
    margin: 16px 0;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chatList div:hover {
    background: #6B5370;
}

.chatArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.backBtn {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    margin-bottom: 8px;
    background-color: #565357;
    color: #E6CBD6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.backBtn:hover {
    transform: scale(1.03);
}

.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9077A0;
    transform: scale(1.05);
}
.searchInput {
    width: 90%;
    margin-top: 8px;
    border: none;
    padding: 12px;
    border-radius: 12px;
    background-color: #E6CBD6;
    color: #3E5220;
    transition: all 0.3s ease;
}

.searchInput::placeholder {
    color: #6B5370;
    opacity: 0.8;
}


.findBtn {
    margin-top: 8px;
    border: none;
    padding: 8px;
    width: 128px;
    border-radius: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: fadeIn 0.5s ease;
    background-color:#6B5370;
    color: #E6CBD6;
}

.findBtn:hover {
    background-color: #7045a1;
    color: #E6CBD6;
    transform: scale(1.05);
}

.chatList::-webkit-scrollbar {
  width: 6px;
}
.chatList::-webkit-scrollbar-track {
  background: #E6CBD6;
  border-radius: 4px;
}
.chatList::-webkit-scrollbar-thumb {
  background: #6B5370;
  border-radius: 4px;
}


@media (max-width: 767px) {
  .dashboard {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    box-sizing: border-box;
    max-height: 40vh;
    overflow-y: auto;
  }
  .chatArea {
    height: 60vh;
  }
  .chatList div {
    margin-top: 8px;
  }

  .backBtn {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    border-radius: 12px;
  }
}



